In [40]:
import pandas as pd
import numpy as np

In [41]:
cd git/HSTFinalProject/Classifier-for-Hardware-Trojan-Detection/ROFreq/ROFreq/

[WinError 3] The system cannot find the path specified: 'git/HSTFinalProject/Classifier-for-Hardware-Trojan-Detection/ROFreq/ROFreq/'
C:\Users\patri\git\HSTFinalProject\Classifier-for-Hardware-Trojan-Detection\ROFreq\ROFreq

In [66]:
# Read Excel Spreadsheet of
chip1 = pd.read_excel("Chip1.xlsx",header=None)

# Create array of Zeros
Zeros = np.zeros((25,),dtype = int)

# Create Numpy Target Vector
Target_np = Zeros
Target_np[0] = 1
Target_np[24]=1

# Create Pandas Series of Numpy Target Vector
Target = pd.Series(Target_np)

# Set Target Column of Dataframe to Target Series
chip1['Target'] = Target

In [67]:
chip1

        0      1      2      3      4      5      6      7  Target
0   189.2  201.2  223.2  234.4  220.8  226.4  220.0  249.2       1
1   177.2  188.0  208.8  219.2  206.4  212.0  205.2  232.8       0
2   171.2  181.6  201.6  211.6  199.6  204.8  198.8  224.8       0
3   167.2  177.6  197.2  206.8  195.2  200.4  194.0  220.0       0
4   163.6  174.0  193.2  202.8  191.2  196.4  190.0  215.6       0
5   160.4  170.0  188.8  198.4  186.8  191.6  185.6  210.4       0
6   155.6  165.2  183.6  192.8  181.6  186.4  180.8  204.8       0
7   152.0  161.2  179.6  188.0  177.6  182.0  176.4  200.0       0
8   168.4  178.8  198.4  208.0  196.4  201.6  195.2  221.6       0
9   183.6  194.8  216.4  226.8  213.6  219.6  212.8  241.6       0
10  180.4  191.6  212.8  223.2  210.0  216.0  209.2  237.6       0
11  178.8  189.6  210.4  218.8  208.0  213.6  206.8  234.8       0
12  176.8  187.6  208.0  218.8  205.6  211.2  204.8  232.4       0
13  174.8  185.2  205.6  216.4  203.2  208.8  202.4  229.6       0
14  172.4  182.8  202.8  213.2  201.2  206.0  200.0  226.4       0
15  170.0  180.8  200.8  210.4  198.4  203.2  197.6  223.6       0
16  180.0  191.2  212.0  222.4  209.6  215.6  208.8  236.8       0
17  173.2  183.6  203.6  214.0  201.6  207.2  200.8  227.6       0
18  166.4  177.2  196.4  206.0  194.4  199.6  193.2  219.2       0
19  160.4  170.0  188.8  198.4  186.8  192.0  186.0  210.4       0
20  153.2  162.4  180.4  189.6  178.8  183.2  178.0  201.2       0
21  146.8  156.4  173.6  182.4  172.0  176.4  170.8  194.0       0
22  140.8  150.0  166.4  175.2  164.8  169.6  164.0  186.0       0
23  140.8  149.6  166.0  175.2  164.4  169.2  164.0  186.0       0
24  189.6  201.6  223.6  234.4  221.2  226.8  220.0  249.2       1